<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedTrack</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MedicalLogin</display-name>
    <servlet-name>MedicalLogin</servlet-name>
    <servlet-class>com.medtrack.services.MedicalLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalLogin</servlet-name>
    <url-pattern>/MedicalLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalRegister</display-name>
    <servlet-name>MedicalRegister</servlet-name>
    <servlet-class>com.medtrack.services.MedicalRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalRegister</servlet-name>
    <url-pattern>/MedicalRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.medtrack.services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.medtrack.services.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMedicine</display-name>
    <servlet-name>NewMedicine</servlet-name>
    <servlet-class>com.medtrack.services.NewMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMedicine</servlet-name>
    <url-pattern>/NewMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineUpdate</display-name>
    <servlet-name>MedicineUpdate</servlet-name>
    <servlet-class>com.medtrack.services.MedicineUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineUpdate</servlet-name>
    <url-pattern>/MedicineUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLocationOfUser</display-name>
    <servlet-name>UpdateLocationOfUser</servlet-name>
    <servlet-class>com.medtrack.services.UpdateLocationOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocationOfUser</servlet-name>
    <url-pattern>/UpdateLocationOfUser</url-pattern>
  </servlet-mapping>
</web-app>